In [23]:
import pandas as pd
from pandas import Series, DataFrame
from patsy import dmatrices
import warnings
%pylab inline
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from StringIO import StringIO
from sklearn.model_selection import cross_val_score, StratifiedKFold

Populating the interactive namespace from numpy and matplotlib

In [24]:
df = pd.read_csv('aac_shelter_outcomes.csv')
df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [25]:
df.drop(labels=['animal_id', 'monthyear'], axis=1, inplace=True)
df.head()

,age_upon_outcome,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [26]:
df['animal_type'].value_counts()

Dog          44242
Cat          29422
Other         4249
Bird           334
Livestock        9
Name: animal_type, dtype: int64

In [27]:
df['outcome_type'].value_counts()

Adoption           33112
Transfer           23499
Return to Owner    14354
Euthanasia          6080
Died                 680
Disposal             307
Rto-Adopt            150
Missing               46
Relocate              16
Name: outcome_type, dtype: int64

In [28]:
df[df['animal_type'] == "Dog"]["breed"].value_counts().head()

Pit Bull Mix                 6135
Chihuahua Shorthair Mix      4733
Labrador Retriever Mix       4608
German Shepherd Mix          1892
Australian Cattle Dog Mix    1059
Name: breed, dtype: int64

In [29]:
df[df['animal_type'] == 'Cat']['breed'].value_counts().head()

Domestic Shorthair Mix      23335
Domestic Medium Hair Mix     2323
Domestic Longhair Mix        1228
Siamese Mix                   998
Domestic Shorthair            386
Name: breed, dtype: int64

In [30]:
df[df['animal_type'] == "Other"]['breed'].value_counts().head()

Bat Mix          1286
Bat               799
Raccoon Mix       465
Rabbit Sh Mix     291
Raccoon           230
Name: breed, dtype: int64

In [31]:
def classify_breed(breed):
    ''' classifies mixes where the mix is specified with a slash to fall under the first listed breed as a mix'''
    breed_list = breed.split("/")
    if len(breed_list) > 1:
        return breed_list[0] + " Mix"
    return breed_list[0]

In [97]:
mask = df['name'].isnull()
df['has_name'] = 1
df['has_name'][mask] = 0
mask = df['outcome_type'] == 'Adoption'
df['adopted'] = 0
df['adopted'][mask] = 1
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], format='%Y-%m-%d')
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d')
df['days_alive'] = df['datetime'].sub(df['date_of_birth'], axis = 0)
df['days_alive'] = df['days_alive'].dt.days
df['age_binned'] = pd.qcut(df['days_alive'], 5)
df

,age_upon_outcome,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome,has_name,adopted,days_alive,age_binned
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07,2014-07-22 16:04:00,NaN,Partner,Transfer,Intact Male,0,0,15,"(-123.001, 78.0]"
1,1 year,Dog,Beagle Mix,White/Brown,2012-11-06,2013-11-07 11:47:00,Lucy,Partner,Transfer,Spayed Female,1,0,366,"(306.0, 669.0]"
2,1 year,Dog,Pit Bull,Blue/White,2013-03-31,2014-06-03 14:20:00,*Johnny,NaN,Adoption,Neutered Male,1,1,429,"(306.0, 669.0]"
3,9 years,Dog,Miniature Schnauzer Mix,White,2005-06-02,2014-06-15 15:50:00,Monday,Partner,Transfer,Neutered Male,1,0,3300,"(1222.0, 9137.0]"
4,5 months,Other,Bat Mix,Brown,2014-01-07,2014-07-07 14:04:00,NaN,Rabies Risk,Euthanasia,Unknown,0,0,181,"(78.0, 306.0]"
5,4 months,Dog,Leonberger Mix,Brown/White,2013-06-03,2013-10-07 13:06:00,*Edgar,Partner,Transfer,Intact Male,1,0,126,"(78.0, 306.0]"
6,1 year,Other,Squirrel Mix,Tan,2013-12-13,2014-12-13 12:20:00,NaN,Suffering,Euthanasia,Unknown,0,0,365,"(306.0, 669.0]"
7,3 years,Dog,Chihuahua Shorthair Mix,Brown,2011-11-23,2014-12-08 15:55:00,*Ella,Partner,Transfer,Spayed Female,1,0,1111,"(669.0, 1222.0]"
8,1 month,Cat,Domestic Shorthair Mix,Blue Tabby/White,2014-06-16,2014-08-14 18:45:00,Lucy,NaN,Adoption,Intact Female,1,1,59,"(-123.001, 78.0]"
9,3 months,Cat,Domestic Shorthair Mix,White/Black,2014-03-26,2014-06-29 17:45:00,*Frida,Offsite,Adoption,Spayed Female,1,1,95,"(78.0, 306.0]"
10,1 year,Cat,Domestic Medium Hair Mix,Black/White,2013-03-27,2014-03-28 14:55:00,Stella Luna,NaN,Return to Owner,Spayed Female,1,0,366,"(306.0, 669.0]"
11,2 years,Dog,Papillon/Border Collie,Black/White,2012-02-28,2014-03-28 14:39:00,Fancy,Partner,Transfer,Neutered Male,1,0,759,"(669.0, 1222.0]"
12,2 months,Dog,Chihuahua Shorthair/Pomeranian,Black,2014-03-07,2014-05-26 19:10:00,Kash,Foster,Adoption,Neutered Male,1,1,80,"(78.0, 306.0]"
13,4 years,Dog,Miniature Schnauzer/Miniature Poodle,White,2009-04-27,2014-04-25 11:17:00,Sandy,NaN,Return to Owner,Spayed Female,1,0,1824,"(1222.0, 9137.0]"
14,8 years,Dog,Labrador Retriever Mix,Black,2006-10-18,2014-10-26 18:20:00,Shy,NaN,Return to Owner,Neutered Male,1,0,2930,"(1222.0, 9137.0]"
15,2 years,Dog,Rat Terrier Mix,White/Black,2012-06-02,2014-06-15 15:11:00,*Truman,Partner,Transfer,Neutered Male,1,0,743,"(669.0, 1222.0]"
16,1 year,Dog,Pit Bull Mix,Brown Brindle/White,2013-03-11,2014-04-16 12:51:00,*Newt,Partner,Transfer,Neutered Male,1,0,401,"(306.0, 669.0]"
17,3 weeks,Cat,Domestic Shorthair Mix,Black/White,2013-12-16,2014-01-09 19:29:00,NaN,Partner,Transfer,Intact Male,0,0,24,"(-123.001, 78.0]"
18,2 months,Dog,German Shepherd/Labrador Retriever,Black/White,2014-10-19,2014-12-21 18:20:00,*Bonnie,Foster,Adoption,Spayed Female,1,1,63,"(-123.001, 78.0]"
19,2 months,Cat,Domestic Shorthair Mix,Brown Tabby,2014-06-02,2014-08-13 15:04:00,Elsa,NaN,Adoption,Spayed Female,1,1,72,"(-123.001, 78.0]"
20,8 months,Cat,Domestic Shorthair Mix,Brown Tabby/White,2013-07-05,2014-03-06 14:29:00,NaN,SCRP,Transfer,Unknown,0,0,244,"(78.0, 306.0]"
21,5 months,Cat,Domestic Shorthair Mix,Black Tabby,2014-03-22,2014-08-31 15:45:00,Chester,NaN,Adoption,Neutered Male,1,1,162,"(78.0, 306.0]"
22,2 years,Dog,Beagle Mix,Tan/White,2012-05-05,2014-12-11 17:52:00,Dolly,NaN,Adoption,Spayed Female,1,1,950,"(669.0, 1222.0]"
23,2 months,Cat,Domestic Shorthair Mix,Orange Tabby,2014-08-03,2014-10-31 18:29:00,*Oliver,Foster,Adoption,Neutered Male,1,1,89,"(78.0, 306.0]"
24,1 year,Cat,Domestic Medium Hair Mix,Black/White,2012-12-04,2013-12-16 13:59:00,*Preston,Partner,Transfer,Neutered Male,1,0,377,"(306.0, 669.0]"
25,1 year,Dog,Mastiff Mix,Brown Brindle,2013-10-11,2014-10-19 17:54:00,Olive,NaN,Adoption,Spayed Female,1,1,373,"(306.0, 669.0]"
26,4 months,Dog,Plott Hound Mix,Brown Brindle/Black,2013-08-23,2013-12-25 09:47:00,NaN,Partner,Transfer,Intact Female,0,0,124,"(78.0, 306.0]"
27,2 months,Dog,Labrador Retriever Mix,Yellow,2013-09-01,2013-11-19 18:30:00,Promise,NaN,Adoption,Spayed Female,1,1,79,"(78.0, 306.0]"
28,4 months,Dog,Chihuahua Shorthair Mix,Blue/Tan,2014-06-17,2014-11-04 18:03:00,Minnie,Partner,Transfer,Intact Female,1,0,140,"(78.0, 306.0]"
29,2 months,Cat,Siamese,Seal Point,2014-04-27,2014-07-03 12:12:00,*Bumble,Partner,Transfer,Intact Female,1,0,67,"(-123.001, 78.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78226,2 years,Dog,Jack Russell Terrier Mix,White,2016-01-02,2018-01-04 12:43:00,Chema,NaN,Return to Owner,Intact Male,1,0,733,"(669.0, 1222.0]"
78227,2 years,Dog,Akbash Mix,White,2015-08-15,2017-09-24 13:04:00,Baby,NaN,Adoption,Neutered Male,1,1,771,"(669.0, 1222.0]"
78228,1 year,Cat,Domestic Medium Hair Mix,Brown Tabby/White,2016-07-29,2018-02-01 14:50:00,Wonder Woman,NaN,Adoption,Spayed Female,1,1,552,"(306.0, 669.0]"
78229,2 years,Dog,Labrador Retriever Mix,Tan/White,2015-12-11,2018-02-01 15:13:00,Eisley,NaN,Adoption,Spayed Female,1,1,783,"(669.0, 1222.0]"
78230,2 years,Dog,Labrador Retriever Mix,Black/White,2015-12-20,2018-01-05 17:45:00,Frankie,NaN,Adoption,Intact Female,1,1,747,"(669.0, 1222.0]"
78231,2 months,Cat,American Shorthair Mix,Blue Tabby/White,2017-09-14,2017-12-10 17:44:00,Allee Chat,NaN,Adoption,Intact Female,1,1,87,"(78.0, 306.0]"
78232,1 month,Cat,Domestic Shorthair Mix,Brown Tabby/White,2017-08-03,2017-09-24 11:57:00,Mia,NaN,Adoption,Intact Male,1,1,52,"(-123.001, 78.0]"
78233,1 year,Cat,Domestic Shorthair Mix,Brown Tabby,2017-01-30,2018-02-01 17:51:00,NaN,Partner,Transfer,Neutered Male,0,0,367,"(306.0, 669.0]"
78234,7 years,Dog,Cocker Spaniel Mix,Cream,2011-01-28,2018-02-01 16:34:00,NaN,Partner,Transfer,Intact Female,0,0,2561,"(1222.0, 9137.0]"
78235,6 years,Dog,Labrador Retriever,Black,2011-04-24,2018-02-01 17:56:00,Bernard,NaN,Return to Owner,Neutered Male,1,0,2475,"(1222.0, 9137.0]"
78236,6 months,Cat,Domestic Shorthair Mix,Tortie,2017-07-28,2018-02-01 16:37:00,Luna,NaN,Adoption,Spayed Female,1,1,188,"(78.0, 306.0]"
78237,6 months,Cat,Domestic Medium Hair Mix,Orange Tabby,2017-07-28,2018-02-01 16:38:00,Mac,NaN,Adoption,Neutered Male,1,1,188,"(78.0, 306.0]"
78238,1 year,Dog,Chihuahua Shorthair Mix,Blue/Tricolor,2017-01-28,2018-02-01 17:36:00,NaN,NaN,Adoption,Neutered Male,0,1,369,"(306.0, 669.0]"
78239,1 month,Dog,Golden Retriever/Labrador Retriever,White,2017-12-04,2018-02-01 17:51:00,Bailey,Foster,Adoption,Spayed Female,1,1,59,"(-123.001, 78.0]"
78240,2 years,Dog,Boxer Mix,Red/White,2015-09-26,2018-02-01 17:37:00,Rigby,NaN,Return to Owner,Neutered Male,1,0,859,"(669.0, 1222.0]"
78241,1 year,Dog,Yorkshire Terrier Mix,Brown/Black,2016-07-28,2018-02-01 16:10:00,NaN,NaN,Adoption,Spayed Female,0,1,553,"(306.0, 669.0]"
78242,4 months,Dog,Pointer Mix,Chocolate/White,2017-09-30,2018-02-01 16:11:00,Coco,NaN,Adoption,Spayed Female,1,1,124,"(78.0, 306.0]"
78243,2 months,Dog,Standard Schnauzer,Brown,2017-11-13,2018-02-01 17:42:00,NaN,NaN,Adoption,Neutered Male,0,1,80,"(78.0, 306.0]"
78244,3 months,Dog,Black/Tan Hound Mix,Black/Brown,2017-04-23,2017-07-29 12:56:00,Charlie,NaN,Adoption,Spayed Female,1,1,97,"(78.0, 306.0]"
78245,1 month,Dog,Golden Retriever/Labrador Retriever,White,2017-12-04,2018-02-01 16:10:00,NaN,Foster,Adoption,Spayed Female,0,1,59,"(-123.001, 78.0]"
78246,2 years,Dog,Chihuahua Shorthair Mix,Black/Tan,2015-11-14,2018-02-01 18:23:00,Maxie,NaN,Adoption,Neutered Male,1,1,810,"(669.0, 1222.0]"
78247,2 years,Dog,Border Collie Mix,Black/White,2015-11-01,2018-02-01 18:32:00,Baily,NaN,Return to Owner,Spayed Female,1,0,823,"(669.0, 1222.0]"
78248,1 year,Dog,German Shepherd Mix,Tan/Black,2016-02-03,2018-02-01 18:20:00,Lova,NaN,Return to Owner,Intact Female,1,0,729,"(669.0, 1222.0]"
78249,2 years,Dog,Border Collie Mix,Black/Gray,2015-11-01,2018-02-01 18:31:00,Lucas,NaN,Return to Owner,Neutered Male,1,0,823,"(669.0, 1222.0]"
78250,1 month,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04,2018-02-01 18:40:00,NaN,Foster,Adoption,Neutered Male,0,1,59,"(-123.001, 78.0]"
78251,1 month,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04,2018-02-01 18:26:00,NaN,Foster,Adoption,Spayed Female,0,1,59,"(-123.001, 78.0]"
78252,3 years,Dog,Mastiff Mix,Blue/White,2014-12-30,2018-02-01 18:06:00,Max,NaN,Adoption,Neutered Male,1,1,1129,"(669.0, 1222.0]"
78253,NaN,Other,Bat Mix,Brown,2017-02-01,2018-02-01 18:08:00,NaN,Rabies Risk,Euthanasia,Unknown,0,0,365,"(306.0, 669.0]"
78254,2 months,Dog,Standard Schnauzer,Red,2017-11-13,2018-02-01 18:32:00,NaN,NaN,Adoption,Spayed Female,0,1,80,"(78.0, 306.0]"
78255,2 months,Dog,Labrador Retriever Mix,White/Brown,2017-11-13,2018-02-01 18:44:00,NaN,NaN,Adoption,Neutered Male,0,1,80,"(78.0, 306.0]"

## Decision Tree - all animals

In [98]:
Y, X = dmatrices('adopted ~ 0 + animal_type + has_name + color + age_binned + sex_upon_outcome', df, return_type='dataframe')
y = Y['adopted'].values
X.head()

,animal_type[Bird],animal_type[Cat],animal_type[Dog],animal_type[Livestock],animal_type[Other],color[T.Agouti/Brown Tabby],color[T.Agouti/Gray],color[T.Agouti/White],color[T.Apricot],color[T.Apricot/Brown],...,color[T.Yellow/Yellow],"age_binned[T.Interval(78.0, 306.0, closed='right')]","age_binned[T.Interval(306.0, 669.0, closed='right')]","age_binned[T.Interval(669.0, 1222.0, closed='right')]","age_binned[T.Interval(1222.0, 9137.0, closed='right')]",sex_upon_outcome[T.Intact Male],sex_upon_outcome[T.Neutered Male],sex_upon_outcome[T.Spayed Female],sex_upon_outcome[T.Unknown],has_name
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [100]:
model = tree.DecisionTreeClassifier(criterion='entropy')

In [101]:
result = model.fit(X_train, y_train)
prediction_train = model.predict(X_train)
print metrics.accuracy_score(y_train, prediction_train)

0.7910984537305803

In [102]:
prediction = model.predict(X_test)
print metrics.accuracy_score(y_test, prediction)

0.7620649997870256

## Decision Tree - Only Dogs and Cats

In [103]:
df_copy = df.copy()
mask = df_copy['animal_type'].isin(["Dog", "Cat"])
df_copy = df_copy[mask]
df_copy

,age_upon_outcome,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome,has_name,adopted,days_alive,age_binned
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07,2014-07-22 16:04:00,NaN,Partner,Transfer,Intact Male,0,0,15,"(-123.001, 78.0]"
1,1 year,Dog,Beagle Mix,White/Brown,2012-11-06,2013-11-07 11:47:00,Lucy,Partner,Transfer,Spayed Female,1,0,366,"(306.0, 669.0]"
2,1 year,Dog,Pit Bull,Blue/White,2013-03-31,2014-06-03 14:20:00,*Johnny,NaN,Adoption,Neutered Male,1,1,429,"(306.0, 669.0]"
3,9 years,Dog,Miniature Schnauzer Mix,White,2005-06-02,2014-06-15 15:50:00,Monday,Partner,Transfer,Neutered Male,1,0,3300,"(1222.0, 9137.0]"
5,4 months,Dog,Leonberger Mix,Brown/White,2013-06-03,2013-10-07 13:06:00,*Edgar,Partner,Transfer,Intact Male,1,0,126,"(78.0, 306.0]"
7,3 years,Dog,Chihuahua Shorthair Mix,Brown,2011-11-23,2014-12-08 15:55:00,*Ella,Partner,Transfer,Spayed Female,1,0,1111,"(669.0, 1222.0]"
8,1 month,Cat,Domestic Shorthair Mix,Blue Tabby/White,2014-06-16,2014-08-14 18:45:00,Lucy,NaN,Adoption,Intact Female,1,1,59,"(-123.001, 78.0]"
9,3 months,Cat,Domestic Shorthair Mix,White/Black,2014-03-26,2014-06-29 17:45:00,*Frida,Offsite,Adoption,Spayed Female,1,1,95,"(78.0, 306.0]"
10,1 year,Cat,Domestic Medium Hair Mix,Black/White,2013-03-27,2014-03-28 14:55:00,Stella Luna,NaN,Return to Owner,Spayed Female,1,0,366,"(306.0, 669.0]"
11,2 years,Dog,Papillon/Border Collie,Black/White,2012-02-28,2014-03-28 14:39:00,Fancy,Partner,Transfer,Neutered Male,1,0,759,"(669.0, 1222.0]"
12,2 months,Dog,Chihuahua Shorthair/Pomeranian,Black,2014-03-07,2014-05-26 19:10:00,Kash,Foster,Adoption,Neutered Male,1,1,80,"(78.0, 306.0]"
13,4 years,Dog,Miniature Schnauzer/Miniature Poodle,White,2009-04-27,2014-04-25 11:17:00,Sandy,NaN,Return to Owner,Spayed Female,1,0,1824,"(1222.0, 9137.0]"
14,8 years,Dog,Labrador Retriever Mix,Black,2006-10-18,2014-10-26 18:20:00,Shy,NaN,Return to Owner,Neutered Male,1,0,2930,"(1222.0, 9137.0]"
15,2 years,Dog,Rat Terrier Mix,White/Black,2012-06-02,2014-06-15 15:11:00,*Truman,Partner,Transfer,Neutered Male,1,0,743,"(669.0, 1222.0]"
16,1 year,Dog,Pit Bull Mix,Brown Brindle/White,2013-03-11,2014-04-16 12:51:00,*Newt,Partner,Transfer,Neutered Male,1,0,401,"(306.0, 669.0]"
17,3 weeks,Cat,Domestic Shorthair Mix,Black/White,2013-12-16,2014-01-09 19:29:00,NaN,Partner,Transfer,Intact Male,0,0,24,"(-123.001, 78.0]"
18,2 months,Dog,German Shepherd/Labrador Retriever,Black/White,2014-10-19,2014-12-21 18:20:00,*Bonnie,Foster,Adoption,Spayed Female,1,1,63,"(-123.001, 78.0]"
19,2 months,Cat,Domestic Shorthair Mix,Brown Tabby,2014-06-02,2014-08-13 15:04:00,Elsa,NaN,Adoption,Spayed Female,1,1,72,"(-123.001, 78.0]"
20,8 months,Cat,Domestic Shorthair Mix,Brown Tabby/White,2013-07-05,2014-03-06 14:29:00,NaN,SCRP,Transfer,Unknown,0,0,244,"(78.0, 306.0]"
21,5 months,Cat,Domestic Shorthair Mix,Black Tabby,2014-03-22,2014-08-31 15:45:00,Chester,NaN,Adoption,Neutered Male,1,1,162,"(78.0, 306.0]"
22,2 years,Dog,Beagle Mix,Tan/White,2012-05-05,2014-12-11 17:52:00,Dolly,NaN,Adoption,Spayed Female,1,1,950,"(669.0, 1222.0]"
23,2 months,Cat,Domestic Shorthair Mix,Orange Tabby,2014-08-03,2014-10-31 18:29:00,*Oliver,Foster,Adoption,Neutered Male,1,1,89,"(78.0, 306.0]"
24,1 year,Cat,Domestic Medium Hair Mix,Black/White,2012-12-04,2013-12-16 13:59:00,*Preston,Partner,Transfer,Neutered Male,1,0,377,"(306.0, 669.0]"
25,1 year,Dog,Mastiff Mix,Brown Brindle,2013-10-11,2014-10-19 17:54:00,Olive,NaN,Adoption,Spayed Female,1,1,373,"(306.0, 669.0]"
26,4 months,Dog,Plott Hound Mix,Brown Brindle/Black,2013-08-23,2013-12-25 09:47:00,NaN,Partner,Transfer,Intact Female,0,0,124,"(78.0, 306.0]"
27,2 months,Dog,Labrador Retriever Mix,Yellow,2013-09-01,2013-11-19 18:30:00,Promise,NaN,Adoption,Spayed Female,1,1,79,"(78.0, 306.0]"
28,4 months,Dog,Chihuahua Shorthair Mix,Blue/Tan,2014-06-17,2014-11-04 18:03:00,Minnie,Partner,Transfer,Intact Female,1,0,140,"(78.0, 306.0]"
29,2 months,Cat,Siamese,Seal Point,2014-04-27,2014-07-03 12:12:00,*Bumble,Partner,Transfer,Intact Female,1,0,67,"(-123.001, 78.0]"
30,2 weeks,Cat,Domestic Shorthair Mix,Black,2014-05-27,2014-06-11 17:11:00,NaN,Partner,Transfer,Unknown,0,0,15,"(-123.001, 78.0]"
31,2 months,Cat,Domestic Shorthair Mix,Torbie,2014-04-14,2014-07-03 17:01:00,NaN,NaN,Adoption,Spayed Female,0,1,80,"(78.0, 306.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78225,2 years,Dog,Akbash Mix,White,2015-08-15,2017-08-23 17:44:00,Baby,NaN,Adoption,Neutered Male,1,1,739,"(669.0, 1222.0]"
78226,2 years,Dog,Jack Russell Terrier Mix,White,2016-01-02,2018-01-04 12:43:00,Chema,NaN,Return to Owner,Intact Male,1,0,733,"(669.0, 1222.0]"
78227,2 years,Dog,Akbash Mix,White,2015-08-15,2017-09-24 13:04:00,Baby,NaN,Adoption,Neutered Male,1,1,771,"(669.0, 1222.0]"
78228,1 year,Cat,Domestic Medium Hair Mix,Brown Tabby/White,2016-07-29,2018-02-01 14:50:00,Wonder Woman,NaN,Adoption,Spayed Female,1,1,552,"(306.0, 669.0]"
78229,2 years,Dog,Labrador Retriever Mix,Tan/White,2015-12-11,2018-02-01 15:13:00,Eisley,NaN,Adoption,Spayed Female,1,1,783,"(669.0, 1222.0]"
78230,2 years,Dog,Labrador Retriever Mix,Black/White,2015-12-20,2018-01-05 17:45:00,Frankie,NaN,Adoption,Intact Female,1,1,747,"(669.0, 1222.0]"
78231,2 months,Cat,American Shorthair Mix,Blue Tabby/White,2017-09-14,2017-12-10 17:44:00,Allee Chat,NaN,Adoption,Intact Female,1,1,87,"(78.0, 306.0]"
78232,1 month,Cat,Domestic Shorthair Mix,Brown Tabby/White,2017-08-03,2017-09-24 11:57:00,Mia,NaN,Adoption,Intact Male,1,1,52,"(-123.001, 78.0]"
78233,1 year,Cat,Domestic Shorthair Mix,Brown Tabby,2017-01-30,2018-02-01 17:51:00,NaN,Partner,Transfer,Neutered Male,0,0,367,"(306.0, 669.0]"
78234,7 years,Dog,Cocker Spaniel Mix,Cream,2011-01-28,2018-02-01 16:34:00,NaN,Partner,Transfer,Intact Female,0,0,2561,"(1222.0, 9137.0]"
78235,6 years,Dog,Labrador Retriever,Black,2011-04-24,2018-02-01 17:56:00,Bernard,NaN,Return to Owner,Neutered Male,1,0,2475,"(1222.0, 9137.0]"
78236,6 months,Cat,Domestic Shorthair Mix,Tortie,2017-07-28,2018-02-01 16:37:00,Luna,NaN,Adoption,Spayed Female,1,1,188,"(78.0, 306.0]"
78237,6 months,Cat,Domestic Medium Hair Mix,Orange Tabby,2017-07-28,2018-02-01 16:38:00,Mac,NaN,Adoption,Neutered Male,1,1,188,"(78.0, 306.0]"
78238,1 year,Dog,Chihuahua Shorthair Mix,Blue/Tricolor,2017-01-28,2018-02-01 17:36:00,NaN,NaN,Adoption,Neutered Male,0,1,369,"(306.0, 669.0]"
78239,1 month,Dog,Golden Retriever/Labrador Retriever,White,2017-12-04,2018-02-01 17:51:00,Bailey,Foster,Adoption,Spayed Female,1,1,59,"(-123.001, 78.0]"
78240,2 years,Dog,Boxer Mix,Red/White,2015-09-26,2018-02-01 17:37:00,Rigby,NaN,Return to Owner,Neutered Male,1,0,859,"(669.0, 1222.0]"
78241,1 year,Dog,Yorkshire Terrier Mix,Brown/Black,2016-07-28,2018-02-01 16:10:00,NaN,NaN,Adoption,Spayed Female,0,1,553,"(306.0, 669.0]"
78242,4 months,Dog,Pointer Mix,Chocolate/White,2017-09-30,2018-02-01 16:11:00,Coco,NaN,Adoption,Spayed Female,1,1,124,"(78.0, 306.0]"
78243,2 months,Dog,Standard Schnauzer,Brown,2017-11-13,2018-02-01 17:42:00,NaN,NaN,Adoption,Neutered Male,0,1,80,"(78.0, 306.0]"
78244,3 months,Dog,Black/Tan Hound Mix,Black/Brown,2017-04-23,2017-07-29 12:56:00,Charlie,NaN,Adoption,Spayed Female,1,1,97,"(78.0, 306.0]"
78245,1 month,Dog,Golden Retriever/Labrador Retriever,White,2017-12-04,2018-02-01 16:10:00,NaN,Foster,Adoption,Spayed Female,0,1,59,"(-123.001, 78.0]"
78246,2 years,Dog,Chihuahua Shorthair Mix,Black/Tan,2015-11-14,2018-02-01 18:23:00,Maxie,NaN,Adoption,Neutered Male,1,1,810,"(669.0, 1222.0]"
78247,2 years,Dog,Border Collie Mix,Black/White,2015-11-01,2018-02-01 18:32:00,Baily,NaN,Return to Owner,Spayed Female,1,0,823,"(669.0, 1222.0]"
78248,1 year,Dog,German Shepherd Mix,Tan/Black,2016-02-03,2018-02-01 18:20:00,Lova,NaN,Return to Owner,Intact Female,1,0,729,"(669.0, 1222.0]"
78249,2 years,Dog,Border Collie Mix,Black/Gray,2015-11-01,2018-02-01 18:31:00,Lucas,NaN,Return to Owner,Neutered Male,1,0,823,"(669.0, 1222.0]"
78250,1 month,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04,2018-02-01 18:40:00,NaN,Foster,Adoption,Neutered Male,0,1,59,"(-123.001, 78.0]"
78251,1 month,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04,2018-02-01 18:26:00,NaN,Foster,Adoption,Spayed Female,0,1,59,"(-123.001, 78.0]"
78252,3 years,Dog,Mastiff Mix,Blue/White,2014-12-30,2018-02-01 18:06:00,Max,NaN,Adoption,Neutered Male,1,1,1129,"(669.0, 1222.0]"
78254,2 months,Dog,Standard Schnauzer,Red,2017-11-13,2018-02-01 18:32:00,NaN,NaN,Adoption,Spayed Female,0,1,80,"(78.0, 306.0]"
78255,2 months,Dog,Labrador Retriever Mix,White/Brown,2017-11-13,2018-02-01 18:44:00,NaN,NaN,Adoption,Neutered Male,0,1,80,"(78.0, 306.0]"

In [105]:
Y, X = dmatrices('adopted ~ 0 + animal_type + has_name + color + sex_upon_outcome', df_copy, return_type='dataframe')
y = Y['adopted'].values
X.head()

,animal_type[Cat],animal_type[Dog],color[T.Agouti/Brown Tabby],color[T.Agouti/White],color[T.Apricot],color[T.Apricot/Brown],color[T.Apricot/Tricolor],color[T.Apricot/White],color[T.Black],color[T.Black Brindle],...,color[T.Yellow/Orange],color[T.Yellow/Orange Tabby],color[T.Yellow/Tan],color[T.Yellow/White],color[T.Yellow/Yellow],sex_upon_outcome[T.Intact Male],sex_upon_outcome[T.Neutered Male],sex_upon_outcome[T.Spayed Female],sex_upon_outcome[T.Unknown],has_name
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)
model = tree.DecisionTreeClassifier(criterion='entropy')

In [109]:
result = model.fit(X_train, y_train)
prediction_train = model.predict(X_train)
print metrics.accuracy_score(y_train, prediction_train)

0.7101991738261932

In [110]:
prediction = model.predict(X_test)
print metrics.accuracy_score(y_test, prediction)

0.6932440381917734