In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

## **Q1. Read the data.**

_Read in the data from http://www.stat.ufl.edu/~winner/data/clinton1.dat. Note that this is NOT a CSV file. The description of the data fields are present in http://www.stat.ufl.edu/~winner/data/clinton1.txt. You will have  to  figure  out  the  rightparameters for thereadcsvcommand yourself (e.g., the regular expressionfor the delimiter, and the names of the columns)._

In [9]:
df = pd.read_table('http://users.stat.ufl.edu/~winner/data/clinton1.dat',
                    header = None,
                    names = ['County_Name',
                            'Percent_Voting',
                            'Median_Age',
                            'Mean_Savings',
                            'Per_Capita_Income',
                            'Percent_Poverty',
                            'Percent_Veterans',
                            'Percent_Female',
                            'Population_Density',
                            'Percent_Nursing_Homes',
                            'Crime_Index'],
                   sep = '\s{2,}',
                   index_col = 0)

C:\Users\lcste\Anaconda2\lib\site-packages\ipykernel_launcher.py:15: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [10]:
df[:10]

,Percent_Voting,Median_Age,Mean_Savings,Per_Capita_Income,Percent_Poverty,Percent_Veterans,Percent_Female,Population_Density,Percent_Nursing_Homes,Crime_Index
County_Name,,,,,,,,,,
"Autauga, AL",30.92,31.7,57623,15768,15.2,10.74,51.41,60.4,2.36,457
"Baldwin, AL",26.24,35.5,84935,16954,13.6,9.73,51.34,66.5,5.40,282
"Barbour, AL",46.36,32.8,83656,15532,25.0,8.82,53.03,28.8,7.02,47
"Blount, AL",32.92,34.5,61249,14820,15.0,9.67,51.15,62.4,2.36,185
"Bullock, AL",67.67,31.7,75725,11120,33.0,7.08,50.76,17.6,2.91,141
"Butler, AL",47.43,33.5,75887,12015,27.1,9.48,53.25,28.1,7.98,266
"Calhoun, AL",38.44,32.7,76073,15162,18.0,11.95,51.66,190.8,4.81,560
"Chambers, AL",45.36,34.8,40498,13887,18.8,10.52,52.77,62.1,6.15,218
"Cherokee, AL",53.61,36.3,56386,13936,15.4,9.29,50.82,35.8,5.61,51
"Chilton, AL",34.19,34.0,52230,14036,18.6,9.48,51.41,47.8,3.58,296